* {
    font-family: 'Yu Gothic UI', sans-serif;
    margin:0;
    padding:0;
}
body {
    color: #ffffff;   
    background-color: #996b40;
    font-size: 1em;
}
header {
    clear:both;
    background: #f5e33f;
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    text-align: left;
}
.notimg {
    border-radius: 10%;
    border: 5px solid #d46114;
}
.logo {
    position: relative;
    bottom: 10px;
}
.logo:hover {
    width: +20px;
    position: relative;
    bottom: 10px;
}
.menu {
    text-align: right;
    width:100%;
    margin:0;
    padding:0;
    position: relative;
    bottom: 60px;
}
.menu li {
    display: inline-block;
}
.menu li a {
    list-style:none;
    color: #ffffff;
    background: #55b6f7;
    padding: 10px 30px;
    margin: 10px;
    font-size: 20px;
    height: 20px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px #166ea89c;
}
.menu li a:hover {
    color: #ffffff;
    background: #0e87d8;
    box-shadow: 0px 0px 10px #7ec5ffd2;
}
.wrapper {
    clear: both;
    text-align: center;
}
.firu {
    font-size: 40px;
    background: #b45609;
    padding: 10px;
}
article {
    float: left;
    font-size: 20px;
    background:#eca24d;
    text-align: left;
    width:50%;
    margin:0;
    padding: 10px;
}
article ol {
    display: block;
    list-style-type: circle;
    list-style-position: inside;
    font-weight: bold;
}
aside {
    text-align: center;
    padding: 10px;
}
.star {
    font-size: 50px;
    color:rgb(255, 255, 0);
    text-shadow: 0px 0px 5px #000000;
}
.resena1 {
    font-size: 30px;
    font-style: italic;
}
.resena2 {
    font-size: 25px;
    text-align: right;
}
footer {
    clear:both;
    background: #000000;
    width: 100%;
    height: 30px;
    padding: 20px 0px;
    text-align: center;
}